@import './Nav.css';
.all-ages {
    background: url('https://images.unsplash.com/photo-1508089101008-504c11e5d606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.tranches-dage {
    display: grid;
    grid-gap: 2vh 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.tranches-dage .section {
    padding: 10vh 10vw;
    text-align: center;
    align-self: center;
}

.tranches-dage .section:hover {
    transform: scale(1.25);
}

.farfa {
    background-color: var(--farfa);
    grid-row: 1;
}

.oranges {
    background: var(--oranges);
    grid-row: 1;
}

.bleus {
    background: var(--bleus);
    grid-row: 1;
}

.rouges {
    background: var(--rouges);
    grid-row: 2;
}

.compas {
    background: var(--compas);
    grid-row: 2;
}

.violets {
    background: var(--violets);
    grid-row: 2;
}