.Parents-Home .logo {
    height: 10vh;
    width: 10vw;
    grid-column: 1;
    align-self: center;
}

.Parents-Home .top {
    display: grid;
    grid-template-columns: 10vw 20vw 50vw 10vw;
    position: sticky;
    text-align: center;
    top: 0;
    right: 0;
}

.contact {
    background-color: rgb(25, 25, 83);
    grid-column: 4;
    border-radius: 23px;
    align-self: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1vh 1vw;
    transition: 600ms ease-in-out;
}

.contact:hover {
    transition: 300ms ease-in-out;
    background-color: var(--farfa);
}

.nav-links {
    grid-column: 3;
    display: flex;
    margin: 1vh 2vw;
}

.nav-spacer {
    grid-column: 2;
    align-self: center;
}

.nav-links li {
    margin: 1vh 2vw;
    padding: 2vh;
    align-self: center;
}

.nav-links a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
}