@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes LeftIn {
    from {
        opacity: 0;
        transform: trans;
    }
    to {
        opacity: 1;
    }
}